<x-main>
    <div class="bg-slate-50 h-[100vh] sm:px-4 font-sans">
      <table align="center">
        <tr>
          <td class="w-[552px] max-w-full">
            <div class="my-12 sm:my-8 text-center">
              <a href="https://maizzle.com">
                <img src="images/maizzle.png" width="70" alt="Maizzle">
              </a>
            </div>
  
            <table class="w-full h-[350px]  bg-white rounded shadow-sm  text-base text-slate-700 overflow-hidden" >
              <tr>
                <td class="w-8/12 p-12 sm:px-6">
                    <h1>
                        Use AR to see
                        <br/>
                        Mac mini in
                        <br/>
                        your workspace.
                        <br/>
                    </h1>
                    <small>
                        open this page using Safari 
                        <br/>
                        on your iPhone or iPad.
                    </small>

                </td>
                <td class="w-4/12 pr-3">
                    <div class="h-[80%] w-full bg-orange-300 relative top-10"></div>
                </td>
              </tr>
             
              
            </table>
          </td>
        </tr>
      </table>
    </div>
  </x-main>